<div class="header">
  <div class="header-left">
    {{#if datosPersonales.logoUniversidad}}
      <img src="{{datosPersonales.logoUniversidad}}" alt="{{datosPersonales.nombreUniversidad}}">
    {{else}}
      <div class="universidad-box">
        <div class="universidad-logo">🏛️</div>
        <div class="universidad-text">
          <div style="font-size: 16px; font-weight: bold; color: var(--primary-blue);">
            {{#if datosPersonales.nombreUniversidad}}
              {{datosPersonales.nombreUniversidad}}......
            {{else}}
              Universidad......
            {{/if}}
          </div>
          <div class="subtitle">Programa de desarrollo personal</div>
        </div>
      </div>
    {{/if}}
  </div>
  <div class="header-right">
    <div class="logo-reskilling">RE-SKILLING.AI</div>
  </div>
</div>
<div class="header-line"></div>